<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Birds!</title>
  </head>
  <body>
    <h1>Here are the birbs!</h1>
    <pre>
    ___     ___
  (o o)   (o o)
 (  V  ) (  V  ) 
/--m-m- /--m-m-
      </pre
    >
    <button onclick="window.location.href='/'">back 2 shop</button>
  </body>
</html>
