<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello and welcome to the pet shop :3</h1>
    <button onclick="window.location.href='/cats'">Cats</button>
    <button onclick="window.location.href='/dogs'">Dogs</button>
    <button onclick="window.location.href='/birds'">Birbs</button>
  </body>
</html>
